XML/XML4/XMLSCHEMA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="Ejemplo" targetNamespace="Ejemplo" elementFormDefault="qualified"   xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="example" >
    <xs:complexType>
<xs:sequence>
  <xs:element name="etiqueta1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>  

  <xs:element name="etiqueta2" type="xs:string"/>  
</xs:sequence>
    
    </xs:complexType>



</xs:element>
</xs:schema>